@{
  Layout = "_Layout";
}

@using VendorAndOrderTracker.Models;

<h1>@Model["vendor"].Name</h1>
<h2>Vendor Description: @Model["vendor"].Description</h2>

<h3>Here are all the orders for this vendor:</h3>

<ol>
@foreach (Order order in @Model["orders"])
{
  <li><h3><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></h3></li>
}
</ol>

<h3><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></h3>
<h3><a href='/vendors'>Return to vendor list</a></h3>
<h3><a href='/'>Return to Main Page</a></h3>